<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
<!--    <meta name="description" content="" />-->
<!--    <meta name="author" content="" />-->
<!--    <title>Simple Sidebar - Start Bootstrap Template</title>-->
<!--    &lt;!&ndash; Favicon&ndash;&gt;-->
<!--    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />-->
<!--    &lt;!&ndash; Core theme CSS (includes Bootstrap)&ndash;&gt;-->
<!--    <link th:href="@{/css/styles.css}" rel="stylesheet" />-->
<!--</head>-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>thymeleaf layout</title>
    <!--/* css */-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>

    <body>
        <th:block layout:fragment="head"></th:block>

            <th:block th:replace="fragments/header :: HeaderFragment"></th:block>
            <th:block layout:fragment="content"></th:block>
            <th:block th:replace="fragments/footer :: FooterFragment"></th:block>
    </body>
</html>