<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <!--/* css */-->
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>

<th:block layout:fragment="head"></th:block>
<div>
    <!-- 공통 컨텐츠 처리  th:insert, th:replace, th:include -->
    <!-- header, footer 사용 -->
    <th:block th:replace="fragments/header :: HeaderFragment"></th:block>
    <!-- 페이지별 컨텐츠 삽입 layout:fragment -->
    <!-- content fragment 사용 -->
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="fragments/footer :: FooterFragment"></th:block>
</div>
</html>