<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.startup.diabetes.service.GraphService">
    <select id="countFasting" resultType="org.startup.diabetes.domain.GraphVO">
        <![CDATA[
        SELECT * FROM fasting_table
        WHERE empty_data=#{empty_data}
          AND registDate BETWEEN DATE_SUB(NOW(), INTERVAL 7 DAY) AND NOW()
        ORDER BY registDate;
        ]]>
    </select>
</mapper>

