<!DOCTYPE html>
<html lang="ko">
<body>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>식후 혈당 목록</h1>
            <p>페이지 컨텐츠를 여기에 추가하세요.</p>
            <p>작은 화면에서는 메뉴의 시작 상태가 축소된 상태로 표시되고, 큰 화면에서는 축소되지 않은 상태로 표시됩니다. 메뉴 토글은 위의 버튼을 클릭하여 수행할 수 있습니다.</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">bno</th>
                    <th scope="col">Time</th>
                    <th scope="col">registDate</th>
                    <th scope="col">Food</th>
                    <th scope="col">AfterBlood</th>
                </tr>
                </thead>
                <tbody>
                <!--11:20초 4강-->
                <tr th:each="diabetes: ${boardList}"> <!-- 데이터를 받았지 컨트롤러로 boardList-->
                    <td th:text="${diabetes.bno}"></td>
                    <td><a th:href="@{|/diabetes/${diabetes.bno}|}" th:text="${diabetes.time}"></a></td>
                    <td th:text="${diabetes.registDate}"></td>
                    <td th:text="${diabetes.food}"></td>
                    <td th:text="${diabetes.afterBlood}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
<!-- /#wrapper -->

<script>
    $("#sidebarToggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>