<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic.html}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Save</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script layout:fragment="script" type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <form action="/board/save" method="post">
        <div class="container" id="card">
            <div id="custom-form" class="row">
                <div class="m-bottom">
                    <h2 class="text-center-align">당신의 혈당을 <span class="text-stroke">당당히</span> 기록하세요</h2>
                    <p class="text-center-align">당신의 혈당을 당당히 기록하여 더 나은 생활 습관을 유지하세요.</p>
                </div>
                <div class="mb-3 row">
                    <label for="registDate" class="col-lg-2 col-form-label">날짜</label>
                    <div class="col-lg-10">
                        <input type="date" name="registDate" class="form-control" id="registDate"
                               th:value="${defaultDate}" onchange=fetchDataByDate()>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="Time" class="col-lg-2 col-form-label">시간대 선택</label>
                    <div class="col-lg-10">
                        <select name="Time" class="form-select" id="Time">
                            <option value="아침">아침</option>
                            <option value="점심">점심</option>
                            <option value="저녁">저녁</option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-lg-2 col-form-label">식단</label>
                    <div class="col-lg-10">
                        <select class="form-select mb-3" name="food"> <!-- name 속성을 food_id로 수정 -->
                            <option th:each="food : ${foodList}" th:value="${food.bno}"
                                    th:text="${food.title}"></option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="AfterBlood" class="col-lg-2 col-form-label">식후혈당</label>
                    <div class="col-lg-10">
                        <input type="text" name="AfterBlood" class="form-control" id="AfterBlood">
                    </div>
                </div>

                <div class="my-4">
                    <div>
                        <button type="submit" class="btn btn-danger btn-mid-position" style="display: flex">저장하기
                        </button>
                    </div>
                </div>
                <div id="currentDate">
                    <h5 class="text-center mt-3"><span name="registDate" th:text="${defaultDate}"
                                                       id="changeDate"></span></h5>
                </div>
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">시간</th>
                            <th scope="col">식후 혈당</th>
                            <th scope="col">먹은 음식</th>
                        </tr>
                        </thead>
                        <tbody id="diabetesData">
                        <!-- 반복문으로 Diabetes 데이터를 출력 -->
                        <th:block th:each=" diabetes: ${boardDTOList}">
                            <tr>
                                <td th:text="${diabetes.time}"></td>
                                <td th:text="${diabetes.afterBlood}"></td>
                                <td th:text="${diabetes.food.title}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </form>
</div>


</body>


<script layout:fragment="script" th:inline="javascript">

    var defaultDate = /*[[${defaultDate}]]*/ '';

    $(document).ready(function () {
        // 페이지 로드 시 defaultDate 값을 설정합니다.
        $('#registDate').text(defaultDate);
    });

    function fetchDataByDate() {

        var selectedDate = $("#registDate").val(); // 변경된 날짜 가져오기
        var url = "/board/save/data?selectedDate=" + selectedDate;
        // var url = `"/board/save?selectedDate=${selectedDate}"`; // 요청할 URL 생성`

        $.ajax({
            url: url,
            method: "GET",
            // contentType: "application/json; charset=UTF-8",
            // dataType:"json",
            success: function (data) {


                // 성공적으로 데이터를 받았을 때 실행할 코드 작성
                console.log(data);// 받은 데이터를 콘솔에 출력
                displayData(data); // 받은 데이터를 화면에 표시
            },
            error: function (errorThrown) {
                // 데이터를 받아오는 도중 에러가 발생한 경우 실행할 코드
                console.error('에러임', errorThrown); // 에러 메시지 출력
            }
        });
    }


    function displayData(boardDTOList) {
        var tableBody = $("#diabetesData");
        tableBody.empty(); // 표 내용 초기화

        if (boardDTOList.length === 0) {
            // 반환된 데이터가 없는 경우 메시지를 표시하거나 다른 처리를 수행할 수 있습니다.
            console.log("데이터가 없습니다.");
            return;
        }

        // 날짜 가져오기
        var currentDate = boardDTOList[0].registDate;

// 날짜를 표시하는 요소에 설정
        var currentDateElement = $("#registDate");
        if (currentDateElement.length === 1) {
            $("#currentDate").html(`<h5 class="text-center mt-3"><span id="changeDate">${currentDate}</span></h5>`);
        } else {
            currentDateElement.text(currentDate);
        }


        // 데이터가 배열로 잘 넘어왔다면 테이블에 추가
        for (var i = 0; i < boardDTOList.length; i++) {
            var diabetes = boardDTOList[i];
            tableBody.append(
                `<tr>
                    <td>${diabetes.time}</td>
                    <td>${diabetes.afterBlood}</td>
                    <td>${diabetes.food.title}</td>
                </tr>`
            );
        }
    }


    //[ b01 ] --- > read.html
    // function printList(dtoList){
    //
    //     let str = '';
    //
    //
    //     if(dtoList && dtoList.length > 0){
    //
    //         for (const dto of dtoList){
    //
    //             str += `<li class = "list-group-item d-flex replyItem">
    //         <span class="col-2">${dto.rno}</span>
    //         <span class="col-6" data-rno="${dto.rno}">${dto.replyText}</span>
    //         <span class="col-2">${dto.replyer}</span>
    //         <span class="col-2">${dto.regDate}</span>
    //         </li>`
    //         }
    //     }
    //     replyList.innerHTML = str
    // }

</script>


</html>

