<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Save</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" >
    <form action="/board/save" method="post" id="custom-form">
        <h2 class="mb-5 mt-5 justify-content-center"> 당신의 혈당을 당당히 기록하세요 </h2>
        <div class="mb-3 row">
            <label for="registDate" class="col-sm-2 col-form-label">날짜</label>
            <div class="col-sm-10">
                <input type="date" name="registDate" class="form-control" id="registDate">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Time" class="col-sm-2 col-form-label">시간대 선택</label>
            <div class="col-sm-10">
                <select name="Time" class="form-select" id="Time">
                    <option value="morning">아침</option>
                    <option value="afternoon">점심</option>
                    <option value="evening">저녁</option>
                </select>
            </div>
        </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">식단</label>
                <div class="col-sm-10">
                    <select class="form-select mb-3" name="food"> <!-- name 속성을 food_id로 수정 -->
                        <option th:each="food : ${foodList}" th:value="${food.bno}" th:text="${food.title}"></option>
                    </select>
<!--                    <select class="form-select mb-3" th:if="${not #lists.isEmpty(foodTitles)}">-->
<!--                        <option th:each="title : ${foodTitles}"  th:text="${title}"></option>-->
<!--                    </select>-->
                </div>

            </div>


        <div class="mb-3 row">
            <label for="AfterBlood" class="col-sm-2 col-form-label">식후혈당</label>
            <div class="col-sm-10">
                <input type="text" name="AfterBlood" class="form-control" id="AfterBlood">
            </div>
        </div>

        <div class="mb-3 row">
            <div class="text-end">
                <button type="submit" class="btn btn-primary me-2">저  장</button>
                <button type="button" class="btn btn-secondary" onclick="listReq()">목록보기</button>
            </div>
        </div>
    </form>

    <div class="advertisement" id="custom-form1">
        <h3 class="text-center mb-3 mt-5">오늘의 식후 혈당 목록</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">날짜</th>
                <th scope="col">시간</th>
                <th scope="col">식후 혈당</th>
                <th scope="col">Food</th>
            </tr>
            </thead>
            <tbody>
            <!-- 반복문으로 Diabetes 데이터를 출력 -->
            <tr th:each="diabetes : ${boardList}">
                <td th:text="${diabetes.bno}"></td>
                <td><a th:href="@{|/board/${diabetes.bno}|}" th:text="${diabetes.time}"></a></td>
                <td th:text="${diabetes.AfterBlood}"></td>
                <td th:text="${diabetes.food.title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
<script>
    const listReq = () => {
        location.href = "/board/list";
    }
</script>

<style>
    #custom-form {
        max-width: 600px; /* Adjust the max-width as needed */
        margin: auto; /* Center the form horizontally */
    }
    #custom-form1 {
        max-width: 600px; /* Adjust the max-width as needed */
        margin: auto;
    }
    .advertisement {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
    //
    //.advertisement h5 {
    //    color: #007bff;
    //    font-weight: bold;
    //}
    //
    //.advertisement p {
    //    font-size: 18px;
    //}
</style>

</body>
</html>

