<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.extras/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">

    <h1>Sign Up</h1>
    <form method="post" >
        <div class="form_group">
            <label for="userid">아이디</label>
            <input type="text" id="userid" name="userid"  placeholder="아이디를 입력하세요." />
            <br>
        </div>
        <div class="form_group">
            <label for="password">비밀번호</label>
            <input type="password" id="pw" name="pw" placeholder="비밀번호를 입력하세요"><br>
        </div>
        <div class="form_group">
            <label for="name">이  름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요."><br>
        </div>
        <div class="form_group">
            <label for="age">나  이</label>
            <input type="text" id="age" name="age" placeholder="나이를 입력하세요.">세<br>
        </div>
        <div class="form_group">
            <label for="gender">성  별</label>
            <input type="text" id="gender" name="gender" placeholder="성별을 입력하세요"><br>
        </div>
        <div class="form_group">
            <label for="tall">키</label>
            <input type="text" id="tall" name="tall" placeholder="키를 입력하세요.">cm<br>
        </div>
        <div class="form_group">
            <label for="weight">몸무게</label>
            <input type="text" id="weight" name="weight" placeholder="몸무게를 입력하세요.">kg<br>
        </div>
        <div class="form_group">
            <button type="submit" class="joinButton">회원가입</button>
        </div>
    </form>
</div>
<script>
    function blank(a){
        return  document.getElementById(a).value;
    }
    document.querySelector('.joinButton').addEventListener('click',function(e){
        if( /\S/.test(blank('userid')) == false ||  /\S/.test(blank('pw')) == false ||  /\S/.test(blank('name')) == false ||
            /\S/.test(blank('age')) == false ||  /\S/.test(blank('gender')) == false ||  /\S/.test(blank('tall')) == false ||
            /\S/.test(blank('weight')) == false){
            alert('빈칸을 입력해주세요');
            e.preventDefault();
        }
    })

</script>
</body>
</html>