<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 완료</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #card {
            display: flex; /* Flexbox 사용 */
            justify-content: center; /* 수평 가운데 정렬 */
            align-items: center; /* 수직 가운데 정렬 */
            height: 100vh;
        }
    </style>
</head>

<body>
<div>
    <div class="container mt-5" id="card">
        <div class="row justify-content-center">
            <div style="width: 400px;">
                <div class="card">
                    <div class="card-body">
                        <div class="row text-center
                         mb-3">
                        <h5 class="card-title">당당히에 오신것을 환영합니다!</h5>
                        </div>
                        <p class="card-text">회원가입을 축하드립니다. <br> 이제 로그인하여 사이트를 이용하세요.</p>
                        <div class="text-end">
                            <button type="button" class="btn btn-warning" onclick="location.href='/member/login'">로그인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>