<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <p>회원 기능</p>
    <div>
        <a th:href="@{/member/mypage/{id}(id=${userid})}"> MY PAGE </a>
<!--        <div th:with="user=${#authentication.principal}">-->
<!--            <a th:if="${user != null && user.username == dto.userid}"-->
<!--               th:href="@{/member/mypage}"> MY PAGE </a>-->
        <a href="/fasting/register">공복혈당</a>
        <button type="button" onclick="location.href='/logout'">LOGOUT</button>

    </div>
</div>
</body>
</html>
