<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/basic.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <div style="width:60%">
        <!--차트가 그려질 부분-->
        <canvas id="myChart" height="450" width="600"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/lib/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function (){
            getGraph();
        })

        function getGraph(){
            let timeList = []; //받아올 데이터 저장할 배열 선언
            let dataList = [];

            $.ajax({
                url:"${cpath}/countFasting.do",
                type:"get",
                data:{mb_id:"${signIn.mb_id}", type:"공복혈당"},
                dataType:"json",
                success:function(data){
                    for(let i = 0; i<data.length;i++){
                        timeList.push(data[i].emptyData);
                        dataList.push(data[i].registDate);
                    }

        var myChart = new Chart(context, {
            type: 'line', // 차트의 형태
            data: { // 차트에 들어갈 데이터
                labels: timeList,
                datasets: [
                    { //데이터
                        label: '공복혈당', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data: dataList,
                        backgroundColor: [
                            //색상
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1 //경계선 굵기
                    }/* ,
                        {
                            label: 'test2',
                            fill: false,
                            data: [
                                8, 34, 12, 24
                            ],
                            backgroundColor: 'rgb(157, 109, 12)',
                            borderColor: 'rgb(157, 109, 12)'
                        } */
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        }

        }); //그래프
        },
        erro:function (){
            alert("실패");
            }
        }
        }) /ajax
        } //getGraph
    </script>
</div>
</html>