<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/basic.html}">

<div layout:fragment="content">
    <div id="custom-form">
    <table>
        <tr>
            <th>no</th>
            <th>공복혈당</th>
            <th>date</th>
            <!-- 식후혈당, 식단 -->
            <!-- <th>공복혈당(||쓰지 않은 경우)</th> -->
            <!-- <th>writer</th>-->
            <!--<th>hits</th>-->
        </tr>
        <!-- fasting 변수-->
        <tr th:each="fasting: ${fastingList}">
            <td th:text="${fasting.bno}"></td>
            <td>
                <a th:href="@{|/fasting/${fasting.bno}|}" th:text="${fasting.emptyData}"></a>
            </td>
            <td th:text="${fasting.registDate}"></td>
            <!--<td><a th:href="@{/board/${fasting.bno}}" th:text="${fasting.boardTitle}"></a></td>-->
            <!-- <td th:text="*{#temporals.format(fasting.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td> -->
            <!--<td th:text="${board.boardHits}"></td>-->
        </tr>
    </table>

    <div class="my-4">
        <div class="float-end">
            <button class="btn btn-primary" onclick="location.href='/fasting/register'">공복혈당 입력하기</button>
            <button type="button" class="btn btn-success" onclick="location.href='/fasting/report'">공복리포트</button>
            <button type="button" class="btn btn-warning" onclick="location.href='/highlight'">공복하이라이트</button>
        </div>
    </div>
</div>
</div>

<script layout:fragment="script" th:inline="javascript">
    console.log("script.......")
</script>
<style>
    #custom-form {
        max-width: 600px; /* Adjust the max-width as needed */
        margin: auto; /* Center the form horizontally */
    }
</style>
</html>