<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/basic.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공복혈당 하이라이트</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<div layout:fragment="content">
    <div class="container">
    <div style="width: 900px; height: 900px;">
        <!--차트가 그려질 부분-->
        <canvas id="myChart"></canvas>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <!-- EmptyData 메시지 출력 -->
            <p th:text="'최근 7일간 공복혈당 평균은 ' + ${average} + '입니다❤'"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <!-- EmptyData 메시지 출력 -->
            <p th:text="${emptyDataMessage}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script th:inline="javascript">
        var context = document
            .getElementById('myChart')
            .getContext('2d');

        // 서버 측 데이터가 담긴 fastingDataList 변수가 있다고 가정
        var fastingDataList = /*[[${fastingDataList}]]*/ [];

        // fastingDataList에서 labels 및 data 추출
        var labels = /*[[${registDateList}]]*/ [];
        var data = /*[[${emptyDataList}]]*/ [];

        var average = [];
        var averageData = Array(fastingDataList.length).fill(average); // 평균 데이터를 배열

        var myChart = new Chart(context, {
            type: 'bar', // 차트의 형태
            data: { // 차트에 들어갈 데이터
                labels: labels,
                datasets: [
                    { //데이터
                        label: '공복혈당', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                        data: data,
                        backgroundColor: [
                            //색상
                            'rgba(206, 203, 139, 0.2)',
                            'rgba(238, 202, 158, 0.2)',
                            'rgba(145, 210, 144, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(193, 179, 215, 0.2)',
                            'rgba(111, 183, 214, 0.2)',
                            'rgba(255, 166, 193, 0.2)'
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgba(206, 203, 139, 1)',
                            'rgba(238, 202, 158, 1)',
                            'rgba(145, 210, 144, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(193, 179, 215, 1)',
                            'rgba(111, 183, 214, 1)',
                            'rgba(255, 166, 193, 1)'
                        ],
                        borderWidth: 1 //경계선 굵기
                    },
                    {
                        label: '평균 공복혈당',
                        data: [[${averageData}]],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        type: 'line', // line 그래프로 변경
                        fill: false // 선 안쪽을 채우지 않음
                    }
                ]
            },
            options: {
                scales: {
                    xAxes: [
                        {
                            type: 'time', // x축에 날짜 데이터 사용
                            time: {
                                unit: 'day', // 날짜 간격 설정 (day, month, year 등)
                                displayFormats: {
                                    day: 'YYYY-MM-DD' // 날짜 표시 형식
                                }
                            }
                        }
                    ],
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
    </script>
</div>

<script layout:fragment="script" th:inline="javascript"></script>